/* Window Styling */
.about-me-window {
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #2f2f2f; /* Cor mais suave e escura */
    color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.6); /* Sombra mais suave e grande */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: z-index 0.3s ease, transform 0.3s ease;
}

.about-me-hover{
    transform: scale(1.02);
}

/* Window Header */
.window-about-me-header {
    background: linear-gradient(135deg, #4e4e4e, #616161); /* Gradiente moderno */
    padding: 16px;
    cursor: grab;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-weight: bold;
    font-size: 16px;
}

.window-about-me-header button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    transition: color 0.3s ease, transform 0.3s ease;
}
.window-about-me-header button:hover {
    color: #ff5555; /* Cor vibrante para hover */
    transform: rotate(90deg); /* Animação suave de rotação */
}

/* Content Styling */
.window-about-me-content {
    padding: 20px;
    overflow-y: auto;
    color: #ddd;
    font-family: Arial, sans-serif;
    text-align: left;
}
.window-header button:hover {
    color: #ff5555;
}
.window-about-me-header button:hover {
    color: #ff5555;
}

.about-header {
    display: flex;
    gap: 20px;
}

.about-profile-image {
    width: 150px;
    height: 180px;
    border-radius: 6px;
    border: 2px solid #666;
}

.about-text h2 {
    font-size: 24px;
    color: #fff;
}

.about-text p {
    font-size: 16px;
    line-height: 1.5;
    color: #ddd;
}

.about-body {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.about-image-group {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.about-image {
    width: 45%;
    height: auto;
    border-radius: 6px;
    border: 2px solid #666;
}
