.about-me-window {
    width: 700px;
    height: 575px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
h2 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}
.about-image{
    width: 170px;
    height: 200px;
}
.about-image2{
    width: 270px;
    height: 250px;
}
.about-image3{
    width: 270px;
    height: 250px;
    margin-left: 100px;
}
.window-content p {
    font-size: 16px;
    line-height: 1.5;
    color: #ddd;
    margin-bottom: 30px;
}
