/* Contacts.css */
.contacts-window {
    position: absolute;
    width: 400px;
    height: 300px;
    background: linear-gradient(135deg, #1e1e1e, rgba(42, 42, 42, 0.91));
    border: 2px solid #777;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.contacts-window-header {
    background-color: #4CAF50; /* Cor de fundo do título */
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: move; /* Indica que o título pode ser arrastado */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0; /* Cantos arredondados no topo */
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.window-content {
    padding: 20px;
    overflow-y: auto;
    font-size: 14px;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list li {
    margin-bottom: 10px;
}

.contact-list a {
    color: #4CAF50;
    text-decoration: none;
}

.contact-list a:hover {
    text-decoration: underline;
}
.window:focus {
    box-shadow: 0 0 10px rgba(0, 150, 0, 0.8);
}
