.my-pc-window {
    width: 700px;
    height: 550px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.pc-specs {
    list-style: none;
    padding: 0;
}

.pc-specs li {
    font-size: 16px;
    color: #ddd;
    margin: 8px 0;
}
