.my-pc-window {
    width: 450px;
    height: 450px;
    position: absolute;
    background: #2c2f38; /* Cor de fundo mais escura e moderna */
    color: white;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); /* Sombra mais suave */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

.my-pc-window-header {
    background: linear-gradient(145deg, #3c4048, #3e434a); /* Gradiente mais suave */
    padding: 16px 20px;
    cursor: grab;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-weight: 600;
    transition: background 0.3s ease;
}

.my-pc-window-header:hover {
    background: linear-gradient(145deg, #4d535b, #555c63); /* Efeito de hover no header */
}

.my-pc-window-header button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    transition: color 0.3s;
}

.my-pc-window-header button:hover {
    color: #ff5f5f; /* Efeito de hover no botão de fechar */
}

.window-mypc-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pc-icon {
    width: 100px;
    height: 100px;
    background: url('/public/images/mypc.png') center/contain no-repeat;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* Adicionando sombra ao ícone */
}

.pc-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #d1d1d1; /* Cor de texto mais suave */
}

.pc-specs {
    font-size: 14px;
    color: #b1b1b1; /* Texto de especificações mais suave */
    line-height: 1.6;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pc-specs p {
    margin: 5px 0;
}

.pc-specs strong {
    color: #f1f1f1; /* Cor de destaque mais clara para os rótulos */
}
