.projects-window {
    width: 400px;
    height: 360px;
    position: absolute;
    background: linear-gradient(135deg, #1e1e1e, rgba(42, 42, 42, 0.91));
    color: white;
    border: 2px solid #777;
    border-radius: 10px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.6);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: z-index 0.3s ease;
}

.window-projects-header {
    background: linear-gradient(135deg, #3a3a3a, #444);
    padding: 12px;
    cursor: grab;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
}

.window-projects-header button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition: color 0.3s;
}

.window-header button:hover {
    color: #ff5555;
}

.window-projects-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.folder {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    background: linear-gradient(135deg, #2a2a2a, #3a3a3a);
    padding: 8px;
    border-radius: 6px;
    transition: background 0.3s, transform 0.2s;
}

.folder:hover {
    background: #555;
    transform: translateY(-2px);
}
.window-projects-header button:hover {
    color: #ff5555;
}
